.projects-section{
    height: 100vh;
    background: transparent;

    .projects-section-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 150px;



        .projects-box{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 160px;

        }





    }}