.about-section{
    height: 100vh;
    background: transparent;

    .about-section-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 150px;
    }
 
}