.expcard {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.295);
    padding: 20px 20px 0px 20px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(2px);
    width: 100%;
    // background: red;

    .top{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            flex-direction: column;

            p{
                margin-top: -20px;
            }

        }

        
    }

    p{
        max-width: 100% !important;
        text-align: left;
    }

    .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;

    }



}